.vs/OnePiece/v15/Server/sqlite3/db.lock
.vs/OnePiece/v16/Server/sqlite3/db.lock
.vs/OnePiece/config/applicationhost.config
.vs/OnePiece/DesignTimeBuild/.dtbcache
.vs/OnePiece/DesignTimeBuild/.dtbcache
.vs/OnePiece/v16/.suo
.vs/OnePiece/v16/Server/sqlite3/storage.ide
.vs/OnePiece/v16/Server/sqlite3/storage.ide-shm
.vs/OnePiece/v16/Server/sqlite3/storage.ide-wal
OnePiece.Business/bin/Debug/netcoreapp3.0/OnePiece.Business.dll
OnePiece.Business/bin/Debug/netcoreapp3.0/OnePiece.Business.pdb
OnePiece.Business/bin/Debug/netcoreapp3.0/OnePiece.Entity.dll
OnePiece.Business/bin/Debug/netcoreapp3.0/OnePiece.Entity.pdb
OnePiece.Business/obj/Debug/netcoreapp3.0/OnePiece.Business.assets.cache
OnePiece.Business/obj/Debug/netcoreapp3.0/OnePiece.Business.csproj.FileListAbsolute.txt
OnePiece.Business/obj/Debug/netcoreapp3.0/OnePiece.Business.csprojAssemblyReference.cache
OnePiece.Business/obj/Debug/netcoreapp3.0/OnePiece.Business.dll
OnePiece.Business/obj/Debug/netcoreapp3.0/OnePiece.Business.pdb
OnePiece.Business/obj/OnePiece.Business.csproj.nuget.cache
OnePiece.Business/obj/OnePiece.Business.csproj.nuget.dgspec.json
OnePiece.Business/obj/OnePiece.Business.csproj.nuget.g.props
OnePiece.Business/obj/project.assets.json
OnePiece.Entity/bin/Debug/netcoreapp3.0/OnePiece.Entity.dll
OnePiece.Entity/bin/Debug/netcoreapp3.0/OnePiece.Entity.pdb
OnePiece.Entity/obj/Debug/netcoreapp3.0/OnePiece.Entity.assets.cache
OnePiece.Entity/obj/Debug/netcoreapp3.0/OnePiece.Entity.csproj.FileListAbsolute.txt
OnePiece.Entity/obj/Debug/netcoreapp3.0/OnePiece.Entity.csprojAssemblyReference.cache
OnePiece.Entity/obj/Debug/netcoreapp3.0/OnePiece.Entity.dll
OnePiece.Entity/obj/Debug/netcoreapp3.0/OnePiece.Entity.pdb
OnePiece.Entity/obj/OnePiece.Entity.csproj.nuget.cache
OnePiece.Entity/obj/OnePiece.Entity.csproj.nuget.dgspec.json
OnePiece.Entity/obj/OnePiece.Entity.csproj.nuget.g.props
OnePiece.Entity/obj/project.assets.json
OnePiece/bin/Debug/netcoreapp3.0/OnePiece.Business.dll
OnePiece/bin/Debug/netcoreapp3.0/OnePiece.Business.pdb
OnePiece/bin/Debug/netcoreapp3.0/OnePiece.dll
OnePiece/bin/Debug/netcoreapp3.0/OnePiece.Entity.dll
OnePiece/bin/Debug/netcoreapp3.0/OnePiece.Entity.pdb
OnePiece/bin/Debug/netcoreapp3.0/OnePiece.exe
OnePiece/bin/Debug/netcoreapp3.0/OnePiece.pdb
OnePiece/bin/Debug/netcoreapp3.0/OnePiece.runtimeconfig.dev.json
OnePiece/obj/Debug/netcoreapp3.0/OnePiece.assets.cache
OnePiece/obj/Debug/netcoreapp3.0/OnePiece.csproj.FileListAbsolute.txt
OnePiece/obj/Debug/netcoreapp3.0/OnePiece.csprojAssemblyReference.cache
OnePiece/obj/Debug/netcoreapp3.0/OnePiece.dll
OnePiece/obj/Debug/netcoreapp3.0/OnePiece.exe
OnePiece/obj/Debug/netcoreapp3.0/OnePiece.pdb
OnePiece/obj/OnePiece.csproj.nuget.cache
OnePiece/obj/OnePiece.csproj.nuget.dgspec.json
OnePiece/obj/OnePiece.csproj.nuget.g.props
OnePiece/obj/project.assets.json
